<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/900772bb-3e81-4786-9688-0e5980af0ffc/resourcegroups/blana/providers/Microsoft.Web/sites/movieappnew1</ResourceId>
    <ResourceGroup>blana</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://movieappnew1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a371f5d4-2b47-4537-a6ee-cfb35f083d55</ProjectGuid>
    <PublishUrl>https://movieappnew1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$movieappnew1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>